#staffsec {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    margin-bottom: 4em;
    margin-top: 4em;
	padding: 20px;
}
#staffsec .team-content {
    
    max-width: 100vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* default to 1 column for small screens */
    align-items: center;
    gap: 2rem;
    text-align: center;
    margin-top: 4rem;
}

/* Medium screens (e.g., tablets) */
@media (min-width: 600px) {
    #staffsec .team-content {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
    }
}

/* Large screens (e.g., desktops) */
@media (min-width: 1024px) {
    #staffsec .team-content {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for large screens */
    }
}


#staffsec .team-content img{
	height: auto;
	border-radius: 15px;
	margin-bottom: 15px;
}
#staffsec .center h1{
	color: #050505;
	font-size: 4rem;
	text-align: center;
}
#staffsec .box{
	padding-top: 6px;
	background: #fbb03b;
	border-radius: 15px;
	transition: all .38s ease;
}
#staffsec .box h3{
	font-size: 23px;
	font-weight: 600;
	color: #fff;
}
#staffsec .box h5{
	font-size: 10px;
	font-weight: 600;
	color: #000000;
	letter-spacing: 2px;
}
#staffsec .icons i{
	display: inline-block;
	color: #fff;
	font-size: 20px;
	margin: 0 8px;
	transition: all .38s ease;
}
#staffsec .icons i:hover{
	transform: scale(1.2);
}
#staffsec .box:hover{
	transform: translateY(-10px);
	cursor: pointer;
}

@media(max-width: 1240px){
	#staffsec{
		width: 100%;
		height: auto;
		padding: 90px 2%;
	}
	#staffsec .center h1{
		font-size: 3.2rem;
	}
}